body {
	background-color: lightgrey;
}

#tomagotchi-activities {
	display: inline-block;
	position: fixed;
	top: 20px;
	right: 0;
	border: 1px solid white;
	height: 100px;
	width: 300px;
}

#play {
	display: inline-block;
	background-color: red;
	padding: 0;
	margin: 0 -3px 0 0;
	height: 100px;
	width: 100px;
}

#food {
	display: inline-block;
	background-color: orange;
	padding: 0;
	margin: 0 -3px 0 0;
	height: 100px;
	width: 100px;
}

#lights {
	display: inline-block;
	background-color: black;
	padding: 0;
	margin: 0 -3px 0 0;
	height: 100px;
	width: 100px;
} 

.img-container {
	min-width: 750px;
	min-height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
}

#fire {
	background-image: url("../images/Fire.jpg");
	z-index: 0;
}

#smoke {
	background-image: url("../images/Smoke.jpg");
	z-index: 0;
}

.pet-img {
	z-index: 5;
	position: absolute;
	bottom: -100px;
}

@keyframes wiggle {
	0%	{transform: rotate(4deg);}
	20%	{transform: rotate(-4deg);}
	40% {transform: rotate(4deg);}
	60% {transform: rotate(-4deg);}
	80% {transform: rotate(-4deg);}
}

#egg {
	animation-name: wiggle;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes waddle {
	0%	{transform: rotate(2deg); margin-left: 0; margin-bottom: 0; }
	12.5% {transform: rotate(0deg); margin-left: 250px; margin-bottom: 100px;}
	25% {transform: rotate(-2deg); margin-left: 300px; margin-bottom: 0;}
	37.5% {transform: rotate(0deg); margin-left: 100px; margin-bottom: 100px;}
	50% {transform: rotate(2deg); margin-left: 0; margin-bottom: 0;}
	62.5% {transform: rotate(0deg); margin-left: -250px; margin-bottom: 100px;}
	75% {transform: rotate(-2deg); margin-left: -300px; margin-bottom: 0;}
	87.5% {transform: rotate(0deg); margin-left: -100px; margin-bottom: 100px;}
}

#baby {
	animation-name: waddle;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
}

@keyframes simpleFlight {
	0%		{transform: scaleX(1); margin-left: -500px; margin-bottom: 0;}
	25%		{transform: scaleX(1); margin-bottom: 100px;}
	50% 	{transform: scaleX(-1); margin-left: 100px; margin-bottom: 0;}
	75% 	{transform: scaleX(-1); margin-bottom: 100px;}
	100%	{transform: scaleX(1); margin-left: -500px; margin-bottom: 0;}
}

#child {
	margin-bottom: 70px;
	animation-name: simpleFlight;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	transition-timing-function: ease-in-out;
}

@keyframes swooshyFlight {
	0%		{transform: scaleX(1); margin-left: -500px; margin-bottom: 0;}
	12.5%	{margin-bottom: -100px;}
	25%		{transform: scaleX(1); margin-bottom: -100px; margin-bottom: 0;}
	37.5%	{margin-bottom: 100px;}
	50% 	{transform: scaleX(-1); margin-left: 200px; margin-bottom: 0;}
	62.5%	{margin-bottom: -100px;}
	75% 	{transform: scaleX(-1); margin-bottom: 0;}
	87.5%	{margin-bottom: 100px;}
	100%	{transform: scaleX(1); margin-left: -500px; margin-bottom: 0;}
}

#adult {
	margin-bottom: -50px;
	animation-name: swooshyFlight;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	transition-timing-function: ease-in-out;
}


